extends layout
block content
  .w3-card-4
    header.w3-indigo 
      h1 Welcome to BDAcordãos

    .w3-container
    p This project is a web application developed using Node.js and the Express.js framework. It provides a platform to manage and search for Portuguese court decisions. With BDACORDAOS, users can register, log in, browse court decisions, search by various criteria, add decisions to favorites, make edit suggestions, and much more.
    h2 Functionalities
    p BDACORDAOS offers several resourceful functionalities for managing and searching court decisions. Some of the main functionalities include:
    ul
      li User registration and login.
      li Viewing all court decisions and their details.
      li Searching court decisions by taxonomy.
      li Searching court decisions by specific values.
      li Filtering court decisions based on court categories.
      li Searching for court decisions using different criteria (available for logged-in users).
      li Adding court decisions to favorites with a marker for easy identification (available for logged-in users).
      li Editing court decisions (admin only).
      li Making edit suggestions for court decisions (available for logged-in users).
      li Adding court decisions (admin only).
      li Adding courts (admin only).
      li Approving or rejecting edit suggestions (admin only).
    h2 Authors
    p
      a(href='https://github.com/joaoca93166') João Carvalho PG50496
      | 
      | -
      a(href='https://github.com/vasco1m') Vasco Matos PG50796
    p For more details, please refer to the respective GitHub profiles of the authors.
