extends layout

block content
  h1 Resultados da Pesquisa
  p Os resultados da pesquisa serão enviados para o email que tem definido na sua conta. Por favor, aguarde.
  p Os resultados ficarão também disponíveis no separador:
  a(href='/requests') Pesquisas
  p E ainda neste link: 
  a(href={link}) #{link}
  p Os resultados serão guardados durante 7 dias.
